Django
channels
channels-redis
djangorestframework
django-cors-headers
redis
python-dotenv
asgiref
async-timeout
channels
channels_redis
django-cors-headers
djangorestframework
djangorestframework_simplejwt
msgpack
PyJWT
sqlparse
typing_extensions
tzdata
daphne